.subcategory_container {
	background-color: var(--background);
}

.page_container {
	display: flex;
	gap: 20px;
}

.aside_container {
	border-radius: 5px;
	max-width: 310px;
}

.products_list_wrapper {
	width: 100%;
}