@import url('https://fonts.googleapis.com/css2?family=Prosto+One&family=Raleway:wght@100;200;300;400;500;600;700;900&display=swap');

:root {
	--white: #fff;
	--background: #f2f5f7;
	--black: #000;
	--black-opacity: rgba(0, 0, 0, .5);
	--navy: #180a3e;
	--gray: #dedbdb;
	--smoky: #8a8a8a;
	--dark-gray-333: #333333;
	--dark-gray: #3b3b3b;
	--coal: #212526;
	--green: #126935;
	--orange: #f05a00;
	--orange-light: #ffb78b;
	;
	--red: #fc573b;
	/* --toastify-color-progress-light: #f05a00; */

	--transition: .3s ease-in-out;

	--header-top_hight: 96px;
	--container-max: 2060px;

	--font_releway: 'Raleway', sans-serif;
	--font_prosto: 'Prosto One', sans-serif;
}

body {
	font-family: var(--font_releway);
}

.app {
	max-width: var(--container-max);
	margin: 0 auto;
}

.container {
	max-width: 1920px;
	padding: 0 70px;
	margin: 0 auto;
}

.photo-card_skeleton {
	background-color: var(--gray);
	width: 286px;
	height: 200px;
}

.title {
	margin: 32px 0;
	font-size: 40px;
	font-weight: bold;
}

.toast_message {
	position: relative;
	top: 80px;
	width: 30vw;
	font-size: 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--white);
	background-color: var(--coal);
}

@media (max-width: 1100px) {
	.toast_message {
		width: 36vw;
	}
}

@media (max-width: 860px) {
	:root {
		--header-top_hight: 60px;
	}

	.toast_message {
		width: 42vw;
	}
}

@media (max-width: 762px) {
	.container {
		padding: 0 15px;
	}

	.toast_message {
		top: 100px;
		margin: 0 auto;
		width: 98vw;
	}
}